# Lanzamiento de dos dados

## Diccionarios:

$$\{\text{key}:\text{values}\}.$$

In [7]:
d = {"César": ["Masha", "Mila", "Sneg"],
     "Julio": [3, 10, 12],
     "Gal": [7.0, 5.0, 6.0]}

In [8]:
type(d)

dict

In [9]:
d.keys() # Son las llaves de un diccionario

dict_keys(['César', 'Julio', 'Gal'])

In [10]:
type(d.keys())

dict_keys

In [11]:
list(d.keys())[0]

'César'

In [12]:
d.values()

dict_values([['Masha', 'Mila', 'Sneg'], [3, 10, 12], [7.0, 5.0, 6.0]])

In [13]:
t = list(d.items())
t[0]
type(t[0])

tuple

## Se lanzan dos dados justos:

- $\Omega = \{1,2,3,4,5,6\}\times \{1,2,3,4,5,6 \}$.
- $\mathcal{F}=p(\Omega)$.
- Para $\omega=(i,j)$ donde $i, j=1,\dots, 6$
$$\mathbb{P}(\{\omega\})=\frac{1}{36}.$$

-----

## Vamos a definir a la siguiente variable aleatoria:
$S$ es la variable aleatoria que cuenta la suma de las caras de los dados.

$$S:\Omega \to R_{S}=\{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 \}$$

Para entender a la ley de la variable aleatoria, basta con entender a los siguientes datos:
$$\{(k, \mathbb{P}(S=k)) \}_{k\in R_{S}}.$$

Veamos a $S$ como eventos. Sea $S_{n}$ el evento la suma de las caras es $n$.

In [14]:
from itertools import product
from fractions import Fraction

In [15]:
def P(A, Omega):
  P = Fraction(len(A), len(Omega) )
  return P

$$S_{n}=\{(i,j)\in \Omega : i+j =n \}$$

In [16]:
S_2 = {(i,j) for i in range(1,7) for j in range(1,7) if i+j == 2 }
S_2

{(1, 1)}

In [17]:
L = [i for i in range(1,7)]

Omega = set(product(L, repeat =2 ))
Omega

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [18]:
S = {(i,j): i+j for i,j in Omega}

S

{(3, 4): 7,
 (4, 3): 7,
 (3, 1): 4,
 (5, 4): 9,
 (4, 6): 10,
 (5, 1): 6,
 (2, 2): 4,
 (1, 6): 7,
 (2, 5): 7,
 (1, 3): 4,
 (6, 2): 8,
 (6, 5): 11,
 (4, 2): 6,
 (4, 5): 9,
 (3, 3): 6,
 (5, 6): 11,
 (3, 6): 9,
 (5, 3): 8,
 (2, 4): 6,
 (1, 2): 3,
 (2, 1): 3,
 (1, 5): 6,
 (6, 1): 7,
 (6, 4): 10,
 (3, 2): 5,
 (4, 1): 5,
 (3, 5): 8,
 (5, 2): 7,
 (4, 4): 8,
 (5, 5): 10,
 (1, 1): 2,
 (1, 4): 5,
 (2, 3): 5,
 (2, 6): 8,
 (6, 6): 12,
 (6, 3): 9}

In [19]:
from collections import defaultdict

dS = defaultdict(set)
dS

defaultdict(set, {})

In [20]:
S.items()

dict_items([((3, 4), 7), ((4, 3), 7), ((3, 1), 4), ((5, 4), 9), ((4, 6), 10), ((5, 1), 6), ((2, 2), 4), ((1, 6), 7), ((2, 5), 7), ((1, 3), 4), ((6, 2), 8), ((6, 5), 11), ((4, 2), 6), ((4, 5), 9), ((3, 3), 6), ((5, 6), 11), ((3, 6), 9), ((5, 3), 8), ((2, 4), 6), ((1, 2), 3), ((2, 1), 3), ((1, 5), 6), ((6, 1), 7), ((6, 4), 10), ((3, 2), 5), ((4, 1), 5), ((3, 5), 8), ((5, 2), 7), ((4, 4), 8), ((5, 5), 10), ((1, 1), 2), ((1, 4), 5), ((2, 3), 5), ((2, 6), 8), ((6, 6), 12), ((6, 3), 9)])

In [21]:
for l, v in S.items():
  dS[v].add(l)

In [22]:
dS

defaultdict(set,
            {7: {(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)},
             4: {(1, 3), (2, 2), (3, 1)},
             9: {(3, 6), (4, 5), (5, 4), (6, 3)},
             10: {(4, 6), (5, 5), (6, 4)},
             6: {(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)},
             8: {(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)},
             11: {(5, 6), (6, 5)},
             3: {(1, 2), (2, 1)},
             5: {(1, 4), (2, 3), (3, 2), (4, 1)},
             2: {(1, 1)},
             12: {(6, 6)}})

In [23]:
dS.items()

dict_items([(7, {(3, 4), (4, 3), (6, 1), (1, 6), (2, 5), (5, 2)}), (4, {(3, 1), (1, 3), (2, 2)}), (9, {(4, 5), (5, 4), (6, 3), (3, 6)}), (10, {(4, 6), (6, 4), (5, 5)}), (6, {(2, 4), (1, 5), (5, 1), (4, 2), (3, 3)}), (8, {(4, 4), (6, 2), (2, 6), (5, 3), (3, 5)}), (11, {(5, 6), (6, 5)}), (3, {(1, 2), (2, 1)}), (5, {(2, 3), (3, 2), (4, 1), (1, 4)}), (2, {(1, 1)}), (12, {(6, 6)})])

In [24]:
leyS = {k : P(A,Omega) for k , A in dS.items() }
leyS

{7: Fraction(1, 6),
 4: Fraction(1, 12),
 9: Fraction(1, 9),
 10: Fraction(1, 12),
 6: Fraction(5, 36),
 8: Fraction(5, 36),
 11: Fraction(1, 18),
 3: Fraction(1, 18),
 5: Fraction(1, 9),
 2: Fraction(1, 36),
 12: Fraction(1, 36)}

## Introducción a pandas.

In [25]:
import pandas as pd

In [26]:
leyS = pd.Series(leyS)
leyS = leyS.sort_index()

In [27]:
leyS

2     1/36
3     1/18
4     1/12
5      1/9
6     5/36
7      1/6
8     5/36
9      1/9
10    1/12
11    1/18
12    1/36
dtype: object

### Ejercicios:
1.- Documenta tu colab.

2.- Calcula la ley de las siguientes variables aleatorias:

1.          - La diferencia de las caras sea mayor que $1$.

    - La suma de las caras sea par.

3.- Verifica, en cada caso, que $$\sum_{k\in R_{X}}\mathbb{P}(X=x)=1.$$

4.- Sube tu notebook a tu GitHub.

In [28]:
# Colab sobre lanzamiento de dados
# Nombre: Melva Gutiérrez
import pandas as pd

In [30]:
# Probabilidades: La diferencia de las caras sea mayor que 1
#Todas las combinaciones
dados = [(d1, d2) for d1 in range(1,7) for d2 in range(1,7)]
df = pd.DataFrame(dados, columns=["Dado1", "Dado2"])
# Diferencia >1
df["Diferencia"] = abs(df['Dado1'] - df['Dado2'])
df["Dif>1"] = df["Diferencia"] > 1
# Suma par
df["Suma"] = df['Dado1'] + df['Dado2']
df["Suma_par"] = df["Suma"] % 2 ==0
#Cálculo de probabilidades
prob_dif_mayor_1 = df["Dif>1"].mean()
prob_suma_par = df["Suma_par"].mean()

print(f"Probabilidad de que la diferencia sea mayor a 1: {prob_dif_mayor_1:.4f}")
print(f"Probabilidad de que la suma sea par: {prob_suma_par:.4f}")

Probabilidad de que la diferencia sea mayor a 1: 0.5556
Probabilidad de que la suma sea par: 0.5000

In [31]:
#Verifica en cada paso
# Distribución para "diferencia > 1"
dif_counts = df['Dif>1'].value_counts(normalize=True)
print("Distribución de diferencia > 1:\n", dif_counts)
print("Suma de probabilidades (diferencia):", dif_counts.sum())

# Distribución para "suma par"
suma_counts = df['Suma_par'].value_counts(normalize=True)
print("\nDistribución de suma par:\n", suma_counts)
print("Suma de probabilidades (suma):", suma_counts.sum())

Distribución de diferencia > 1:
 Dif>1
True     0.555556
False    0.444444
Name: proportion, dtype: float64
Suma de probabilidades (diferencia): 1.0

Distribución de suma par:
 Suma_par
True     0.5
False    0.5
Name: proportion, dtype: float64
Suma de probabilidades (suma): 1.0